body{
  margin: 100px;
}

.contact-wrapper{
  display: flex;
}
.contact{
  margin: 100px;
}

.header-wrapper{
  display: flex;
}
.meme-tops{
  display: grid;
  grid-template: 40px 40px / 1fr 1fr;
  gap: 10px;

}
/* .meme-form{
  display: grid;
  grid-template: 40px 40px / 1fr 1fr;
  gap: 10px;
} */
.meme-image{
  /* grid-column: 1/-1; */
  display: block;
  height: 500px;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
}
.meme-toptext{
  overflow-wrap: break-word;
  /* max-width: 400px; */
  position: relative;
  top: -500px;
  /* left: 150px; */
}
.image-and-text{
  text-align: center;
}
.meme-bottomtext{
  position: relative;
  bottom: 120px;
  /* max-width: 300px; */
  word-wrap: break-word;


  /* left: 150px; */
}
.form--button{
  grid-column: 1/-1;
}

.form--input{
  text-indent: 10px;
}