@import url('https://fonts.googleapis.com/css2?family=Inter&family=Montez&family=Montserrat:wght@300&family=Suranna&display=swap');
      
.navbar{
  display: flex;
}
.nav-items{
  list-style: none;
  display: flex;
  font-family: 'Inter', sans-serif;
  padding: 10px;
}

.meme-logo{
  width: 100px;
}
body{
  background: url(./images/photo-1464618663641-bbdd760ae84a.avif);
  background-size: cover;
}
